<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="indexDiv">
        <h1 class="tag">Ace your exams!</h1>
        <p class="subTag">Procuratour helps you review for your upcoming tests by flashing cards with questions you prepared yourself.</p>
        <a href="/sign-in" class="btn-filled getStartedBtn" >GET STARTED</a>
    </div>
</body>
</html>